.container {
  position: absolute;
  inset: 0;
  z-index: 1000;
  display: flex;
  pointer-events: none;
  flex-direction: column;
  padding: 20px;
}

.panel {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 33%;
  padding: 5px;
  pointer-events: auto;
  gap: 5px;
  overflow-y: auto;
  flex-grow: 0;
}

.car {
  color: rgba(0, 0, 0, 0.8);

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  padding: 10px;
  border-radius: 15px;

  &.selected {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, #991dff 5.31%, #8e03ff 92.89%);
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
  }

  &:hover:not(.selected) {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.image {
  width: 60px;
  height: 40px;
  object-fit: contain;
}

.details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.name {
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.stat {
  opacity: 0.8;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 12px;
}
